<section class="main-section alabaster"><!--main-section alabaster-start-->
	<div class="container">
    	<div class="row">
			<figure class="col-lg-5 col-sm-4 wow fadeInLeft">
            	<%= image_tag 'iphone.png' %>
            </figure>
        	<div class="col-lg-7 col-sm-8 featured-work">
            	<h2>Benefits</h2>
            	<P class="padding-b">We have the ability to take a project's electronic life-cycle from start to finish. It all starts with the 3D models, but those 3D models go very far. No matter what you need your electronic files to be, we can assist you in all of it.</P>
            	<div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-02s">
                    	<i class="fa-magic"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-02s">
                        <h3>3d modeling</h3>
                        <p>Everything stems from the 3D model. The 2D drawings are created with them. The CAM files are created with them. The presentations and representations are created with them.</p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-04s">
                    	<i class="fa-gift"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-04s">
                        <h3>2d technical drawings</h3>
                        <p>These are the drawings that will be used in every process throughout a part or assembly's life-cycle. This includes estimating, manufacturing, regulation compliances, and more.</p>
                    </div>    
                </div>
                <div class="featured-box">
                    <div class="featured-box-col1 wow fadeInRight delay-06s">
                        <i class="fa-gift"></i>
                    </div>  
                    <div class="featured-box-col2 wow fadeInRight delay-06s">
                        <h3>cam files</h3>
                        <p>These are the files that will aid the manufacturing process such as CNC machines, laser machines, water-jet machines, and more. These files will reduce manufacturing costs, if supplied to the manufacturing house. These will also help maintain <strong>accuracy and repeatability</strong></p>
                    </div>    
                </div>
                <div class="featured-box">
                	<div class="featured-box-col1 wow fadeInRight delay-08s">
                    	<i class="fa-dashboard"></i>
                    </div>	
                	<div class="featured-box-col2 wow fadeInRight delay-08s">
                        <h3>presentations and representations</h3>
                        <p>These are the files that will grab attention, create inspiration, and also aid in reducing manufacturing costs. By supplying these files to a manufacturing house, they will have a better grasp on the assembly process. These files are also valuble for marketing purposes.</p>
                    </div>    
                </div>
                <a class="Learn-More" href="#">Learn More</a>
            </div>
        </div>
	</div>
</section><!--main-section alabaster-end-->