<footer class="footer">
    <div class="container">
        <div class="footer-logo"><a href="#"><%= image_tag 'trbo-icon-small-white.png' %></a></div>
        <span class="copyright">Copyright © 2015 | Designed by <a href="http://tb-portfolio.divshot.io">Tobias Brysiewicz</a>.</span>
    </div>
    <!-- 
        All links in the footer should remain intact. 
        Licenseing information is available at: http://bootstraptaste.com/license/
        You can buy this theme without footer links online at: http://bootstraptaste.com/buy/?theme=Knight
    -->
</footer>