<div style="overflow:hidden;">
<header class="header" id="header"><!--header-start-->
	<div class="container">
    	<figure class="logo animated fadeInDown delay-07s">
        	<a href="#"><%= image_tag 'trbo-logo1-white.png' %></a>	
        </figure>	
        <h1 class="animated fadeInDown delay-07s">Welcome To TRBO Designs</h1>
        <ul class="we-create animated fadeInUp delay-1s">
        	<li>a Tobias Robert Brysiewicz Organization</li>
        </ul>
            <a class="link animated fadeInUp delay-1s" href="#">Request an Estimate</a>
    </div>
</div>
</header><!--header-end-->