<section class="main-section" id="service"><!--main-section-start-->
	<div class="container">
    	<h2>Services</h2>
    	<h6>We offer a variety of services to achieve <strong>accurate repeatability.</strong></h6>
        <div class="row">
        	<div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
            	<div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-paw"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>digitizing blueprints</h3>
                        <p>Digitizing blueprints is the act of taking prints drafted with pencil and paper, and bringing them to life in the electronic world.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-gear"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>prototype drafting</h3>
                        <p>Prototype drafting is the process of creating the technical drawings for the first version of a part or assembly.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-apple"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>reverse engineering</h3>
                        <p>Reverse engineering is the ability to take a physical part or assembly and create technical drawings for it.</p>
                    </div>
                </div>
                <div class="service-list">
                	<div class="service-list-col1">
                    	<i class="fa-medkit"></i>
                    </div>
                	<div class="service-list-col2">
                        <h3>cloud services</h3>
                        <p>Cloud service is an optional sevice we offer to our clients which allows us to store your drawings and CAM files. This allows you to access them from anywhere, at anytime.</p>
                    </div>
                </div>
            </div>
            <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
            	<%= image_tag 'macbook-pro.png' %>
            </figure>
        
        </div>
	</div>
</section><!--main-section-end-->
