<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @accounting.name %>
</p>



<%= link_to 'Edit', edit_project_accounting_path(@accounting.project, @accounting) %> |
<%= link_to 'Back', project_accountings_path(@accounting.project) %>
